<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DesafioTembici.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1DA3E91A2277A7100081AE75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DA3E9312277A7130081AE75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DA3E93C2277A7130081AE75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
